body{
    height: 100%;
    widows: 100%;
}


.container{
    display: flex;
    height: 100%;

}

.c1{
    margin: 10px;
    width: 300px;
    height: 800px;
    

}

.c2{
    margin: 10px;
    width: 1500px;
  

}