body{
    height: 100%;
    width: 100%;
    background-color: black;
    margin: 0px;
}

header{
    text-align: center;
}

.container{
    
}

#left{
    margin: 10px;
    float: left;
    height: 600px;
    width: 300px;
}

#right{
    margin: 10px;
    float: left;
    height: 500px;
    width: 900px;
}

footer{
    position: fixed;
    bottom: 0%;
    height: 10%;
    width: 100%;
}