body{
    height: 100%;
}

.parent{
    position: relative;
}




.modal-dialog{
    position: fixed;
    top:25%;
    left: 50%;
    transform: translate(-50%,50%);
    width: 400px;
    border: 3px solid black;
    background-color: white;
    
    
}

.modal-content{
    height: 100px;
    text-align: center;


}

.modal-buttons{
    position: relative;
    text-align: end;
}