
body, html{
height: 100%;
width: 100%;
padding: 0;
margin: 0;
}

.buttonStyle{
}
.logo{
    border: 1px solid purple;
    width: 60%;
    margin: auto;
    text-align: center;
}
.buttons{
    width:60%; 
    margin: auto; 
    border: 1px solid blue; 
    text-align: center;

}
.container{
    width: 100%;
    border: 2px solid pink;
}
img{
   /* margin:auto; */
}
