.head1 {
    background-color: blueviolet;
    text-align: center;
    margin-bottom: 10px;
    
}

body {
    background-color: aqua;
    margin:0px;
  
}

.bodycontent{
    text-align: center;
    height: 500px;
    

}

.sidenav{
    width: 30%;
    background-color: yellow;
    float: left;
    height: 100%;
    
    
}

.maincontent{
    width: 70%;
    background-color: green;

    float:left;
    height: 100%;
}    

.box {
    background-color: #ccc;
    padding: 50px;
    border: 20px solid black;
    margin: 40px;
    

}

footer{
    background-color: blue;
    text-align: center;
    float: bottom;
    
}

.centertext{
    margin-top: 50%;
}
