.main{
    text-align: center;

}

.A{
    text-align: center;
    

}

img{
    
    
}

.centeredImage
{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.imgDiv{

    
    text-align: center;

}

body{
    background-color: #93B874;
    
    
}

